/************************************************
Stylesheet: Main CSS 
Bouzouita David
*************************************************/
// COLORS
$color-greyclear: #3A3E43;
$color-greydark: #303336;
$color-greytxt: #90959C;
$color-orange: #FF8D6A;
$color-whitegrey: #F2F2F2;

// FONTS 
$font-crimson: 'Crimson Text', serif;
$font-open: 'Open Sans', sans-serif;


body {
    max-width: 1200px;
    margin: 0 auto;
    a {
        font-family: $font-open;
    }
    h1,h2,h3,h4,h5 {
        font-family: $font-crimson;
    }
}


// SINGLE

.main {

    h2 {
        text-align: center;
        font-family: $font-open;
        font-weight: 600;
        color: $color-greydark;
    }
    p {
        font-family: $font-open;
        color: $color-greydark;
        &.tag {
            font-family: $font-open;
            color: $color-orange;
            text-align: center;
            font-weight: 700;
        }
    }
    article {
        a {
            color: $color-greydark;
            text-decoration: none;
        }
        .content {
            a {
                transition: all 0.3s;
                color: $color-greydark;
                text-decoration: none;
                border-bottom: 2px solid $color-orange;
                &:hover {
                    color: black;
                    padding: 3px;
                }
            }
        }

        img {
            transition: all 1s;
        &:hover {
            opacity: 0.7;
        }   
        }
    }

    h3,h4,h5,h6 {
        font-family: $font-open;
        font-weight: 600;
    }

    .banner {
        margin: 40px 0;
        border-top: 4px solid $color-whitegrey;
        border-bottom: 4px solid $color-whitegrey;
    }

    .pagination {
        &:first-child() {
            border-right: 4px solid $color-whitegrey;
        }
        border-top: 4px solid $color-whitegrey;
        border-bottom: 4px solid $color-whitegrey;
    }

    .newsletter {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        .input-group {
            width: 80%;
        }
    }

    .comment-respond {
        .comment-reply-title {
            text-transform: uppercase;
        }

        .button {
            transition: 0.4s all;
            background-color: black;
            &:hover {
                background-color: $color-greyclear;

            }

        }
    }

}

.button {
    padding: 10px 30px;
    background-color: #FF8D6A;
    &:hover {
        background-color: #A15C46;
    }
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    border: 2px solid $color-whitegrey;
    box-shadow: inherit;
}

body.single {
    img {
        &:hover {
            opacity: inherit;
        }
    }
}

::placeholder {
    font-size: 0.9rem;
    font-family: $font-open;
    color: $color-greydark;
    opacity: 1;
  }