/************************************************
Stylesheet: Main CSS 
Bouzouita David
*************************************************/
// COLORS
$color-greyclear: #3A3E43;
$color-greydark: #303336;
$color-greytxt: #90959C;
$color-orange: #FF8D6A;
$color-whitegrey: #F2F2F2;
$color-facebook: #899dce;
$color-twitter: #60d2f5;
$color-pinterest: #f74c53;

// FONTS 
$font-crimson: 'Crimson Text', serif;
$font-open: 'Open Sans', sans-serif;


body {
    max-width: 1200px;
    margin: 0 auto;
    a {
        font-family: $font-open;
    }
    h1,h2,h3,h4,h5 {
        font-family: $font-crimson;
    }
}


// SINGLE

.main {

    h2 {
        text-align: center;
        font-family: $font-open;
        font-weight: 600;
        color: $color-greydark;
    }
    p {
        font-family: $font-open;
        color: $color-greydark;
        &.tag {
            font-family: $font-open;
            color: $color-orange;
            text-align: center;
            font-weight: 700;
        }
    }
    article {
        a {
            color: $color-greydark;
            text-decoration: none;
        }
        .content {
            .text {
                a {
                    transition: all 0.3s;
                    color: $color-greydark;
                    text-decoration: none;
                    border-bottom: 2px solid $color-orange;
                    &:hover {
                        color: black;
                        padding-bottom: 3px;
                    }
                }
            }

        }

        img {
            transition: all 1s;
        &:hover {
            opacity: 0.7;
        }   
        }
    }

    h3,h4,h5,h6 {
        font-family: $font-open;
        font-weight: 600;
    }

    .pagination {
        padding: 15px 0px;
        div:nth-of-type(1) {
            border-right: 2px solid $color-whitegrey;
        }
        div:nth-of-type(2) {
            text-align: right;
        }
        p {
            font-size: 0.9em;
        }
        border-top: 2px solid $color-whitegrey;
        border-bottom: 2px solid $color-whitegrey;
    }

    .newsletter {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        .input-group {
            width: 80%;
        }
    }

    .comment-respond {
        .comment-reply-title {
            text-transform: uppercase;
        }

        .button {
            transition: 0.4s all;
            background-color: black;
            &:hover {
                background-color: $color-greyclear;

            }

        }
    }

}

.button {
    padding: 10px 30px;
    background-color: #FF8D6A;
    &:hover {
        background-color: #A15C46;
    }
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    border: 2px solid $color-whitegrey;
    box-shadow: inherit;
}

body.single {
    img {
        &:hover {
            opacity: inherit;
        }
    }
}

::placeholder {
    font-size: 0.9rem;
    font-family: $font-open;
    color: $color-greydark;
    opacity: 1;
  }

// BANNER

.banner-top {
    margin: 40px 0;
    border-top: 2px solid $color-whitegrey;
    border-bottom: 2px solid $color-whitegrey;
    div:nth-of-type(1){
        display: flex;
        align-items: center;
    }
    div:nth-of-type(2){
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.banner-bottom {
    margin: 40px 0;
    .social {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
            text-align: right;
        }
        div:nth-of-type(2){
            background: $color-facebook;
        }
        div:nth-of-type(3){
            background: $color-twitter;
        }
        div:nth-of-type(4){
            background: $color-pinterest;
        }
    }
}

.banner {
    display: flex;
    align-items: center;
    .circle {
        font-size: 0.2em;
        width: 40px;
    }
    .farmer-dog {
        p {
            line-height: 1rem;
            margin-left: 10px;
            border-right: 2px solid $color-greytxt;
            text-transform: uppercase;
            margin-bottom: 0;
            font-family: "Open Sans",sans-serif;
            color: #90959c;
            padding-right: 15px;
            span {
                text-transform: initial;
            }
        }
    }
    .social {
        a {
            border-bottom: 0px; 
        &:hover{
            padding: inherit;
        }
        }
        p {
            padding: 10px;
            margin-bottom: 0;
        }
    }
    .button {
        background-color: $color-greydark;
        padding: 7px;
        border-radius: 5px;
        &:hover {
            background-color: $color-greyclear;
        }
        i {
            margin-right: 10px;
        }
        margin: 0;
        padding: 5px;
    }
}


// SOCIAL ICONS
.fa-facebook-f.circle-icon {
    background-color: $color-facebook;
}
.fa-twitter.circle-icon {
    background-color: $color-twitter;
}
.fa-pinterest-p.circle-icon {
    background-color: $color-pinterest;
}

.circle-icon {
    color: white;
    background: $color-greydark;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 5px;
    margin-right: 5px;
}

.badge {
    margin: 40px 0;
    div:nth-of-type(2) {
        padding-left: 20px;
    }
    .circle__content {
        padding: 10px;
    }
}
.joints-related-posts {
    justify-content: space-between;
    border-bottom: 2px solid $color-whitegrey;
    margin: 40px 0;
    .large-4 {
        width: 30%;
    }
    figure {

        height: 60%;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        img {
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 100%;
        }
    }
    a {
        font-weight: 600;
        &:hover img {
            opacity: 0.6;
        }
    }
}

.titleliner {
    position: relative;
    font-size: 0.8em;
    span {
        background: white;
        width: 100%;
        padding-right: 20px;
    }
    &:after {
        content: "";
        position: absolute;
        display: block;
        border-bottom: 4px solid $color-whitegrey;
        top: 50%;
        margin-left: 20px;
        width: 100%;
        z-index: -1;
    }
}










 /**************
 
 GARY*/
// featured 

// TITLE category //

.cell.padTitre {
    padding-left: 0px;
}

.cell.padLine {
    padding-left: 0px;
}

.line {
    border-bottom: 3px solid $color-whitegrey;
    padding-top: 10px;
    padding-left: 0px;
}


// CONTAINER contenu //

.cell {
    padding-top: 25px;
    padding-bottom: 0px;

}


    // CATEGORY //

ul.post-categories {
    margin-left: 0px;
}

.category li {
    list-style: none;
    display: inline;

    a {
        // font-size: 12px;
        color: $color-orange;
    } 
}  


    // TITLE post//
.title a {
    color: $color-greydark;
}



    // PARAGRAPHE //
p {
    color: $color-greyclear;
}


    // ICONE SHARE //

.fa-share:before  {
    color: $color-greydark;
    border-radius: 50% $color-greytxt;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid $color-greytxt;
    display: table-cell;
    vertical-align: middle;
    text-align:center;

}
i{
    margin-right: 5px;
}

.share {
    a {
        display: flex;
        color: $color-greytxt;
        align-items: center;

    }
}

// header single
$topbar-center-logo-bg: white;



a {
  color: $color-greydark;
  font-family: $font-crimson;
}
.top-bar-center form {
    display: flex;
    align-items: center;
    width: max-content;
    p {
        margin: 0;
    }
}


.topbar-center-logo {
  background: $topbar-center-logo-bg;

  .menu {
    background: $topbar-center-logo-bg;

  }
}

.topbar-center-logo .top-bar-center {
  flex: 1 0 auto;

  @include breakpoint(small only) {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: $topbar-center-logo-bg;

  .menu-icon {
    vertical-align: text-top;
  }
}

$subscription-form-bg: darken($primary-color, 20%);
$subscription-form-color: $white;
$subscription-form-padding: rem-calc(32);


.simple-subscription-form {

  color: $subscription-form-color;
  padding: $subscription-form-padding;
  border-radius: $global-radius;
  font-family: $font-open;


  .button {
    margin-bottom: 0;
    border-radius: 0 $global-radius $global-radius 0;
    background-color: black;
    font-weight: bold;
    font-size: 12px;
  }
}

.myNavbar {
    display: flex;
    align-items: center;
  .social-icones {
    position: initial;
  }  
  .medium-horizontal {
    display: inline-block;
  }
  p {
    display: inline-block;
    padding-right: 5px;
  }
  form {
    display: flex;
    margin: 0 auto;
    input[type=email] {
      display: inline-block;
      height: 34.38px;
      border: 2px solid black;
    }
    ::placeholder {
      color: black;
      opacity: 1;
    }
    button {
      float: right;
    }
  }

  .circle__content {
    display: inline-block;
  }
  .top-bar-right {
    display: inline-block;
    
    .menu .medium-horizontal {
      display: inline-block;
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
      }
      .circle {
        display: inline-block;
        a{
          display: inline-block;
        }
      }
    }
    .social-icones {
      display: inline-block;
      .menu {
        display: inline-block;
        li {
          display: inline-block;
          a {
            display: inline-block;
          }
        }
      }
    }
  }
}


.top-bar {
  color: $color-greydark;
  font-family: $font-crimson;
/*     padding: 55px; */
}

.menuHamburger {
  display: inline-block;
}

.hamburger {
  width: 24px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.top-bar-right{
  padding-bottom: 25px;
}

/* test estelle */



body > div.off-canvas-wrapper > div > div.grid-x > div.cell.large-9 div:last-child() > hr {
    display: none;
}

.category-content {
    .cell {
    padding-right: 50px;
}
}

.img2-jumbotron {
    img {
    width: 222px;
    height: 200px;
    object-fit: cover;
    }
    }
    
    .img-jumbotron {
    img {
    width: 637px;
    height: 428px;
    object-fit: cover;
    }
}

.img-featured-post img {
    width: 357px;
    height: 249px;
    object-fit: cover;
    }

.cat-cell {
    padding: 0;
    img {
        max-height: 72px;
        object-fit: cover;
    }
}