// COLORS
$color-greyclear: #3A3E43;
$color-greydark: #303336;
$color-greytxt: #90959C;
$color-orange: #FF8D6A;
$color-whitegrey: #F2F2F2;

// FONTS
$font-crimson: 'Crimson Text', serif;
$font-open: 'Open Sans', sans-serif;
/*

.title-category  {
    font-size: 20px;
    font-family: $font-open;
    font-weight: bold;
    color: $color-greydark;
    text-align: center;
}

.current-category ul {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 0;
    li {
        list-style: none;
        display: inline;
    }
    a {
        font-size: 10px;
        font-weight: bold;
        color: $color-orange;
    }
}


    .img-category {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        img {
            margin-top: 10px;
            width: 354px;
            height: 256px;
            object-fit: cover;
        }
    }
    */